<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postagens</title>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <style>
        h1, h2, p, a{
            font-family: 'Bangers', cursive;
            letter-spacing: 5px;
        }
        .button{
            width: 50px;
            border-radius: 4px;
            background: tomato;
            color: #fff;
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        .button:hover{
            box-shadow: none;
        }
    </style>
</head>
<body>
    {{body}}
</body>
</html>