<<<<<<< HEAD
<form action="" class="form">
=======
<form action="/add" method="POST"
>>>>>>> 287f7e2f80d376232823c8646e30d05482824cb7
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea type="text"  name="conteudo"></textarea>
    <button type="submit" class="button">Cadastrar postagem</button>
</form>