<form action="/add" method="POST" class="form">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea type="text"  name="conteudo"></textarea>
    <button type="submit" class="button">Cadastrar postagem</button>
</form>